services:
  user-db: 
    image: mariadb:latest
    container_name: user-db
    restart: always 
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: user_db
      MYSQL_USER: user_service
      MYSQL_PASSWORD: 12345
    ports:
      - "3306:3306" 
    volumes: 
      - mariadb_data:/var/lib/mysql
volumes:
  mariadb_data:
